.list-group-item {
  line-height: 2.5;
}

#myChart {
  max-width: 500px;
}

#recomendacionChart {
  max-width: 400px;
  padding-top: 10px;

  
}

#productoChart {
  max-width: 400px;
  padding-top: 10px;
  
}

#servicioChart {
  max-width: 400px;
  padding-top: 10px;
  
}

.dashboard {
  font-family: 'Courier New', Courier, monospace;
}